<h1>Artists</h1>

<ul>
  <% @artists.each do |artist| %>
    <li>
      Artist Name: <%= artist.name %> Song Count: <%= artist.songs.count %><%= pluralize(artist.songs.count, 'song') %>
    </li>
  <% end %>
</ul>
